#article-container {
    position: relative;
    margin: 100px 50px;
}
#article-header,#article-body {
    padding: 10px 0px;
}
#article-container p {
    text-indent: 2em;
}
#article-header * {
    margin: 5px 0px;
}
.tag-span {
    color: green;
}
.tag-header {
    font-weight: bold;
}