.manage {
    float: right;
    position: relative;
}
.manageButton {
    margin: 10px 5px;
    width: 50px;
    height: 30px;
    border: none;
    background-color: rgba(57,165,247,1);
    color: white;
    cursor: pointer;
}
.manageButton:hover {
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
}
.titleListDiv {
    position: relative;
    max-width: 1000px;
    margin: 100px 50px;
}
.titleList {
    position: relative;
    padding: 0px 10px;
}
.titleBlockDiv {
    position: relative;
    width: 100%;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
}
.contentBlock {
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
}
.titleBlockDiv:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0,0,0,0.1);
}
.titleBlockDiv:hover .contentBlock {
    height: 100px;
}
.titleMessage {
    color: grey;
    font-size: small;
}
.titleContent {
    color:rgba(0, 0, 0, 0.7);
}
footer {
    float:right;
    font-size: small;
    color: blue;
}
#titleList2 {
    display:none;
}