#shadow {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: gray;
    opacity: 0.1;
    animation-name: a1;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes a1 {
    0% { opacity: 0.1; }
    30% { opacity: 0.5; }
    80% { opacity: 0.3; }
    100% { opacity: 0.1; }
}
#title {
    position: relative;
    top: 160px;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
#nav {
    position: relative;
    top: 280px;
    margin: 0px auto;
    height: 150px;
}
#nav ul {
    display: flex;
    list-style: none;
    border: solid 1px #ffffff;
    border-radius: 8px;
    width: 400px;
    margin: 0px auto;
}
#nav ul li {
    border-left: solid 1px #ffffff;
    width: 200px;
}
#nav ul li:first-child {
    border-left: 0;
}
#nav ul li a {
    display: block;
    height: 2.9rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}
#nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
#nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.25);
}
#footer {
    text-align: center;
    position: relative;
    top: 400px;
    margin: 0px auto;
    font-size: 1.5rem;
}
#passwordDiv {
    position: relative;
    height: 40px;
    width: 400px;
    margin: 50px auto;
    display: none;
}
#passwordDiv * {
    box-sizing: border-box;
}
#passwordDiv form{
    width: 100%;
    height: 100%;
}
#passwordDiv form input:nth-child(1){
    width: 320px;
    height: 100%;
    font-size: 16px;
    text-indent: 30px;
    float: left;
    border-radius: 8px 0px 0px 8px;
    border: solid 1px #ffffff;
    background-color: rgba(255,255,255,0);
    color: white;
}
#passwordDiv form input:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.15);
}
#passwordDiv form input:nth-child(2){
    width: 80px;
    height: 100%;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 8px 8px 0px;
    border: solid 1px #ffffff;
    border-left: 0;
    background-color: rgba(255,255,255,0);
}
#passwordDiv form input:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.15);
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}